@model IEnumerable<Squadron.Models.ArmoredVehicle>

@{
    ViewData["Title"] = "APCs";
}

<style>
    body {
        font-family: 'Times New Roman', serif;
        font-size: 20px;
        color: #FFE400;
    }
</style>

<h1>APCs</h1>

<p style="color: #FFE400;">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color: #FFE400;">
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td style="color: #FFE400;">
                    <span style="color: #FFE400;">@Html.DisplayFor(modelItem => item.Condition)</span>
                </td>
                <td style="color: #FFE400;">
                    <span style="color: #FFE400;">@Html.DisplayFor(modelItem => item.Year)</span>
                </td>
                <td style="color: #FFE400;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
